*{
  padding: 2;
  margin: 2; 
  font-family: 'Verdana', sans-serif;
  font-size: 1em;
}
html, body{
  height: 100%;
  user-select: none;
}

h1{
 font-size:2em;
 text-align:center;
 background: tomato;
 padding:20px;
}

#container{
 text-align: center;
  height:1500px;
  background: linear-gradient(to bottom, #7927b2, #fb3182);
 
}
#img-Body {
  display:flex;
  max-width: 960px;
  margin:auto;
  padding: 30px;
  background: #808080;
  justify-content: space-around;
}


footer{
  background: tomato;
  padding: 20px;
}

